spring:
  application:
    name: aiservice
  data:
   mongodb:
    uri: mongodb://localhost:27017/fitnessRecommendation
  rabbitmq:
      host: localhost
      port: 5672
      username: guest
      password: guest

server:
  port: 8083



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    hostname: localhost
    prefer-ip-address: false


rabbitmq:
  exchange:
    name: fitness.exchange
  queue: 
    name: activity.queue
  routing: 
    key: activity.routingkey